body, html {
  margin: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.parallax {
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax1 {
  background-image: url(./mon.jpg);
}

.parallax2 {
  background-image: url("./books.jpeg");
}

.parallax3 {
  background-image: url("./beach.jpeg");
}

.parallax4 {
  background-image: url("./chill.jpeg");
}

.content {
  padding: 60px 80px;
  text-align: center;
  font-size: 22px;
  background-color: #f2f2f2;
  color: #333;
}

.content.dark {
  background-color: #111;
  color: #fff;
}